## Java

*.class
*.war
*.ear
hs_err_pid*

## Robovm
/ios/robovm-build/

## GWT
/html/war/
/html/gwt-unitCache/
.apt_generated/
.gwt/
gwt-unitCache/
www-test/
.gwt-tmp/

## Android Studio and Intellij and Android in general
/android/libs/armeabi/
/android/libs/armeabi-v7a/
/android/libs/arm64-v8a/
/android/libs/x86/
/android/libs/x86_64/
/android/gen/
.idea/
*.ipr
*.iws
*.iml
/android/out/
com_crashlytics_export_strings.xml

## Eclipse

.classpath
.project
.metadata/
/android/bin/
/core/bin/
/desktop/bin/
/html/bin/
/ios/bin/
/ios-moe/bin/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans

/nbproject/private/
/android/nbproject/private/
/core/nbproject/private/
/desktop/nbproject/private/
/html/nbproject/private/
/ios/nbproject/private/
/ios-moe/nbproject/private/

/build/
/android/build/
/core/build/
/desktop/build/
/html/build/
/ios/build/
/ios-moe/build/

/nbbuild/
/android/nbbuild/
/core/nbbuild/
/desktop/nbbuild/
/html/nbbuild/
/ios/nbbuild/
/ios-moe/nbbuild/

/dist/
/android/dist/
/core/dist/
/desktop/dist/
/html/dist/
/ios/dist/
/ios-moe/dist/

/nbdist/
/android/nbdist/
/core/nbdist/
/desktop/nbdist/
/html/nbdist/
/ios/nbdist/
/ios-moe/nbdist/

nbactions.xml
nb-configuration.xml

## Gradle

/local.properties
.gradle/
gradle-app.setting
/build/
/android/build/
/core/build/
/desktop/build/
/html/build/
/ios/build/
/ios-moe/build/

## OS Specific
.DS_Store
Thumbs.db

## iOS
/ios/xcode/*.xcodeproj/*
!/ios/xcode/*.xcodeproj/xcshareddata
!/ios/xcode/*.xcodeproj/project.pbxproj
/ios/xcode/native/
/ios/IOSLauncher.app
/ios/IOSLauncher.app.dSYM

/ios-moe/xcode/*.xcodeproj/*
!/ios-moe/xcode/*.xcodeproj/xcshareddata
!/ios-moe/xcode/*.xcodeproj/project.pbxproj
/ios-moe/xcode/native/
/core/assets/1.txt
/core/assets/1.kroy
tests/build/tmp/test/jar_extract_10508226383325185859_tmp
tests/build/tmp/test/jar_extract_10801237499641176036_tmp
tests/build/tmp/test/jar_extract_1080179746627522329_tmp
tests/build/tmp/test/jar_extract_11222403543697615519_tmp
tests/build/tmp/test/jar_extract_11225062906991892145_tmp
tests/build/tmp/test/jar_extract_11378048994552916265_tmp
tests/build/tmp/test/jar_extract_11665444491278613518_tmp
tests/build/tmp/test/jar_extract_12029337269864145823_tmp
tests/build/tmp/test/jar_extract_12435642095361491773_tmp
tests/build/tmp/test/jar_extract_12513802532143816823_tmp
tests/build/tmp/test/jar_extract_12597612542016154511_tmp
tests/build/tmp/test/jar_extract_13207342758590019051_tmp
tests/build/tmp/test/jar_extract_13967567544326325321_tmp
tests/build/tmp/test/jar_extract_14151480771677909010_tmp
tests/build/tmp/test/jar_extract_14272729030605159271_tmp
tests/build/tmp/test/jar_extract_14811609683520290362_tmp
tests/build/tmp/test/jar_extract_14885812703025761371_tmp
tests/build/tmp/test/jar_extract_14926741345702398502_tmp
tests/build/tmp/test/jar_extract_14959235628896697735_tmp
tests/build/tmp/test/jar_extract_15616970924613253571_tmp
tests/build/tmp/test/jar_extract_15650669050292523352_tmp
tests/build/tmp/test/jar_extract_15968001670878078417_tmp
tests/build/tmp/test/jar_extract_16593024761672241625_tmp
tests/build/tmp/test/jar_extract_16786460942306142469_tmp
tests/build/tmp/test/jar_extract_17086741731541685181_tmp
tests/build/tmp/test/jar_extract_1709011053802921357_tmp
tests/build/tmp/test/jar_extract_17175867552472407642_tmp
tests/build/tmp/test/jar_extract_17296745039672043719_tmp
tests/build/tmp/test/jar_extract_3060083684286755697_tmp
tests/build/tmp/test/jar_extract_3682917148676503636_tmp
tests/build/tmp/test/jar_extract_4542929436696265088_tmp
tests/build/tmp/test/jar_extract_5234609887247215820_tmp
tests/build/tmp/test/jar_extract_5358894499381920199_tmp
tests/build/tmp/test/jar_extract_5522375719497983398_tmp
tests/build/tmp/test/jar_extract_552298409799549609_tmp
tests/build/tmp/test/jar_extract_5988261523480612708_tmp
tests/build/tmp/test/jar_extract_5998879516549482290_tmp
tests/build/tmp/test/jar_extract_5999482974585407029_tmp
tests/build/tmp/test/jar_extract_6134916125726597341_tmp
tests/build/tmp/test/jar_extract_6352197187371338379_tmp
tests/build/tmp/test/jar_extract_6548171942566991109_tmp
tests/build/tmp/test/jar_extract_6892650152620920034_tmp
tests/build/tmp/test/jar_extract_7345912755455860281_tmp
tests/build/tmp/test/jar_extract_7657505613383341396_tmp
tests/build/tmp/test/jar_extract_8978370757079866432_tmp
tests/build/tmp/test/jar_extract_8979708334941700053_tmp
tests/build/tmp/test/jar_extract_9574082365608144423_tmp
tests/build/tmp/test/jar_extract_9982411855055180205_tmp
tests/build/reports/tests/test/classes/GameObjectTest.html
tests/build/reports/tests/test/css/base-style.css
tests/build/reports/tests/test/css/style.css
tests/build/reports/tests/test/index.html
tests/build/reports/tests/test/js/report.js
tests/build/reports/tests/test/packages/default-package.html
tests/build/test-results/test/binary/output.bin
tests/build/test-results/test/binary/output.bin.idx
tests/build/test-results/test/binary/results.bin
tests/build/test-results/test/TEST-GameObjectTest.xml
tests/build/tmp/test/jar_extract_1025788083863012954_tmp
tests/build/tmp/test/jar_extract_10303230529696793773_tmp
tests/build/reports/tests/test/classes/GameObjectTest.html
tests/build/reports/tests/test/css/base-style.css
tests/build/reports/tests/test/css/style.css
tests/build/reports/tests/test/index.html
tests/build/reports/tests/test/js/report.js
tests/build/reports/tests/test/packages/default-package.html
tests/build/test-results/test/binary/output.bin
tests/build/test-results/test/binary/output.bin.idx
tests/build/test-results/test/binary/results.bin
tests/build/test-results/test/TEST-GameObjectTest.xml
tests/build/reports/tests/test/classes/GameObjectTest.html
tests/build/reports/tests/test/css/base-style.css
*.xml
